
@{
    string CategoryName = Context.Request.Query["CategoryName"].ToString();
}

<script>
    var CategoryName = '@CategoryName';
    $(document).ready(function () {
        ProductController.LstCategoryProducts(CategoryName);
    });
</script>


<div class="container">
    <div class="row" id="productContainer">
        <!-- Product cards will be inserted here -->
    </div>
</div>

