
@{
    ViewData["Title"] = "Checkout";
}

<script src="~/js/controller/productcontroller.js"></script>
<script src="~/js/service/productservice.js"></script>

<script>
    
    $(document).ready(function () {
        ProductController.LoadCartProductsForCheckout();
    })
</script>

<div id="dvDetailsCartsProduct" style="width:100%">

</div>