
@{
    ViewData["Title"] = "Index";
}
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous">
</script>

<script>
    $(document).ready(function () { 
        var productContent = '';
        $.get("http://localhost:58345/ProductAPI/ProductList", function (data, status) {
                $.each(data, function (index, value) { 
                   
                    productContent = productContent+`
                        <div>
                                <p>${value.name}</p>
                                 <p>${value.price}</p>
                                 <p>${value.quantity}</p>
                                 <img src='${value.picture}'/>

                        </div>
                    `;
                })
            $('#dbProductList').html(productContent);
        });
    })
    
</script>


<div id="dbProductList">

</div>

