
<script src="~/js/controller/productcontroller.js"></script>
<script src="~/js/service/productservice.js"></script>

<script>
    $(document).ready(function () {
        ProductController.LstProducts();

    });
</script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />

<div class="container">
    <div class="row" id="productContainer">
        <!-- Product cards will be inserted here -->
    </div>
</div>





