
@{
    ViewData["Title"] = "SingleProduct";
}


<div class="row">
    <div class="col col-4">
        <div class="row">
            <div class="col col-12" style="width:400px">
                <img id="imgTargetBigView" src="https://cdn.dummyjson.com/products/images/fragrances/Gucci%20Bloom%20Eau%20de/1.png" style="width:100%"; />
            </div>
        </div>

        <div class="row" style="margin-top:10px">
            <div class="col col-3" style="width:100px; height:100px;">
                <img src="https://cdn.dummyjson.com/products/images/fragrances/Gucci%20Bloom%20Eau%20de/1.png" onclick="$('#imgTargetBigView').attr('src','https://cdn.dummyjson.com/products/images/fragrances/Gucci%20Bloom%20Eau%20de/1.png')" style="width:100px; height:100px;" />
            </div>

            <div class="col col-3" style="width:100px; height:100px; margin-left:5px">
                <img src="https://cdn.dummyjson.com/products/images/fragrances/Gucci%20Bloom%20Eau%20de/2.png" onclick="$('#imgTargetBigView').attr('src','https://cdn.dummyjson.com/products/images/fragrances/Gucci%20Bloom%20Eau%20de/2.png')" style="width:100px; height:100px;" />
            </div>

            <div class="col col-3" style="width:100px; height:100px;  margin-left:5px">
                <img src="https://cdn.dummyjson.com/products/images/fragrances/Gucci%20Bloom%20Eau%20de/3.png" onclick="$('#imgTargetBigView').attr('src','https://cdn.dummyjson.com/products/images/fragrances/Gucci%20Bloom%20Eau%20de/3.png')" style="width:100px; height:100px;" />
            </div>

            <div class="col col-3" style="width:100px; height:100px;  margin-left:5px">
                <img src="https://cdn.dummyjson.com/products/images/fragrances/Gucci%20Bloom%20Eau%20de/3.png" onclick="$('#imgTargetBigView').attr('src','https://cdn.dummyjson.com/products/images/fragrances/Gucci%20Bloom%20Eau%20de/3.png')" style="width:100px; height:100px;" />
            </div>
        </div>
    </div>

    <div class="col col-8">
        <span>Title</span><br />
        <span>Title</span><br />
        <span>Title</span><br />
        <span>Title</span><br />
    </div>
</div>
