@* @{
    var ProductID = Context.Request.Query["ProductID"];
} *@

<script>
    var pProductID = @ViewBag.ProductId;
    $(document).ready(function () { 
        ProductController.SingleProduct(pProductID);
        
    })
</script>

<div id="dvSingleViewProduct" style="width:100%">

</div>