<div id="dvLeftBarMenuWrapper" style="position:fixed; left:0px; top:0px; bottom:0px; width:300px; background:#669c; overflow:auto">

    <ul id="ulMenu" style="position:absolute;  width:100%; background:#669c; display:block; bottom:20px; top:0px;">
    </ul>
   
</div>
