<div id="dvViewCartsWrapper" style="position:fixed; right:-300px; top:0px; bottom:0px; width:300px; background:#669c; overflow:auto">

    <div id="dvViewCarts" style="position:absolute;  width:100%; background:#669c; display:block; bottom:20px; top:0px;">
    </div>
    <button class="btn btn-primary" style="width:100%; position:absolute; bottom:0px; height:40px;" onclick="ProductController.PrepareCartForCheckoutUI('@Url.Action("Checkout","Product")')">
        Check
    </button>
</div>
